* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  background-color: #000625;
  overflow-x: hidden;
}

p {
  font-size: 14px;
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  color: white;
}

h2 {
  font-family: "Jost", sans-serif;
  font-weight: 300;
}

.c-header {
  display: flex;
  align-items: center;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.c-header__title {
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 0 2rem;
  color: white;
}

.c-navigation {
  flex-basis: 70%;
}

.c-navigation__list {
  padding: 0;
}

.c-navigation__list-item {
  display: inline-block;
  margin: 0 2rem;
  position: relative;
  text-transform: capitalize;
  font-size: 0.9em;
  opacity: 0.7;
  font-weight: 500;
  color: white;
}

.c-navigation__list-item:after {
  content: "";
  width: 2px;
  height: 100%;
  background: white;
  position: absolute;
  display: inline-block;
  right: -2rem;
}

.c-navigation__list-item:last-of-type:after {
  background: transparent;
}

.c-navigation__list-item--active {
  opacity: 1;
}

.c-navigation__list-item--active > a {
  position: relative;
}

.c-navigation__list-item--active > a:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ff4c42;
  position: absolute;
  bottom: -0.4rem;
  left: 0;
}

.c-cta {
  display: flex;
  align-items: center;
}

.c-cta > a {
  font-size: 0.9em;
  opacity: 0.7;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 2rem;
}

.c-cta__button {
  border: 0;
  background-color: transparent;
  display: inline-block;
}

.c-cta__button__search {
  width: 15px;
  height: 15px;
  margin-right: 3rem;
}

.c-cta__button__search svg {
  width: inherit;
  height: inherit;
  fill: white;
}

.c-cta__button__menu {
  width: 20px;
  height: 2px;
  background-color: white;
  position: relative;
}

.c-cta__button__menu:after, .c-cta__button__menu:before {
  content: "";
  width: inherit;
  height: inherit;
  background-color: inherit;
  position: absolute;
  left: 0;
}

.c-cta__button__menu:after {
  bottom: -5px;
}

.c-cta__button__menu:before {
  top: -5px;
}

.c-socials {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  padding: 1.8rem 1.8rem 0.8rem 0.8rem;
  z-index: 2;
}

.c-socials__list-item {
  margin-bottom: 1rem;
}

.c-socials__list-item a svg {
  width: 21px;
  height: 21px;
}

.c-slide {
  display: inline-flex !important;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  will-change: background-size;
  position: relative;
  transition: 1s ease;
  transition-delay: 0.4s;
}

.c-slide:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.61) 76%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00000000", endColorstr="#9c000000", GradientType=0 );
}

.c-slide-content {
  padding: 2rem;
  margin: 0 auto;
  width: 100%;
  z-index: 2;
  max-width: 1200px;
}

.c-slide__title {
  font-size: 4em;
  text-transform: uppercase;
  letter-spacing: 20px;
  transform: translateY(150px);
  opacity: 0;
  transition: 0.8s ease;
  will-change: opacity, transform;
}

.c-slide__title--large,
.c-slide__title--medium {
  display: block;
  font-size: 2.5em;
  line-height: 175px;
  font-weight: 600;
  transform: translateY(150px);
  will-change: transform;
  transition-delay: 0.4s;
  position: relative;
  transition: 1s ease;
  color: #fff;
}

.c-slide__title--medium {
  font-size: 1.6em;
  line-height: 100px;
}

.c-slide__subtitle {
  text-transform: capitalize;
  letter-spacing: 3px;
  color: azure;
}

.c-slide__body {
  margin-top: 0.7rem;
  opacity: 0;
  line-height: 27px;
  color: #b0b0b0;
}

.c-slide__info {
  transform: translateY(-150px);
  transition: 0.8s ease;
}

.c-wrap {
  padding: 2rem 0;
  overflow: hidden;
}

.c-wrap--small {
  max-width: 30%;
}

.c-wrap--line {
  position: relative;
}

.c-wrap--line:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  background-color: white;
  bottom: 0;
  transition: 0.9s ease;
  transition-delay: 0.4s;
}

.slick-list {
  overflow: visible !important;
}

.slick-slide {
  display: none;
  float: left;
  height: 100vh !important;
}

.animateIn .c-slide__title--large,
.animateIn .c-slide__title--medium,
.animateIn .c-slide__info,
.animateIn .c-slide__title,
.animateIn .c-slide__body,
.initialAnimation .c-slide__title--large,
.initialAnimation .c-slide__title--medium,
.initialAnimation .c-slide__info,
.initialAnimation .c-slide__title,
.initialAnimation .c-slide__body {
  transform: translateY(0);
  opacity: 1;
}

.animateIn .c-wrap--line:after,
.initialAnimation .c-wrap--line:after {
  left: 0;
  transform: translateX(0);
  width: 100%;
}

.slick-list {
  transition: 0.5s ease;
}

.u-scale-out {
  transform: scale(0.6) !important;
  transition: 0.5s ease;
}

.u-scale-in {
  transform: scale(1);
}

.c-slide__title {
  color: #fff !important;
  font-weight: 500 !important;
  letter-spacing: 3px;
}

@media only screen and (max-width: 1300px) {
  .c-slide__title {
    font-size: 3em;
    color: #fff;
    letter-spacing: 5px;
  }
  .c-slide__title--large {
    font-size: 3em;
  }
  .c-wrap--small {
    max-width: 50%;
  }
}
@media only screen and (max-width: 1100px) {
  .c-navigation {
    display: none;
  }
  .c-header {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 800px) {
  .c-slide__title--medium {
    font-size: 1.3em;
  }
  .c-slide__title {
    font-size: 2.5em;
  }
  .c-slide__title--large {
    font-size: 1.5em;
  }
  .c-wrap--small {
    max-width: 80%;
  }
}
#dealBar {
  color: white;
  background-color: #000625;
  font-family: "Poppins", sans-serif;
}

@media (min-width: 768px) {
  #dealBar .row {
    padding: 5% 10%;
  }
}
@media (max-width: 650px) {
  #dealBar .row {
    padding: 8% 2% 12% 2%;
  }
  #dealBar .row .col-md-4 {
    margin-top: 20%;
  }
}
#dealBar a {
  color: white;
  border-style: solid;
  padding: 25px 35px;
  font-size: 120%;
  transition: color 0.2s, background-color 0.2s, -webkit-text-decoration 0.2s;
  transition: color 0.2s, background-color 0.2s, text-decoration 0.2s;
  transition: color 0.2s, background-color 0.2s, text-decoration 0.2s, -webkit-text-decoration 0.2s;
}

#dealBar a:hover {
  background-color: white;
  text-decoration: none !important;
  color: #5c8903;
  transition: color 0.2s, background-color 0.2s, -webkit-text-decoration 0.2s;
  transition: color 0.2s, background-color 0.2s, text-decoration 0.2s;
  transition: color 0.2s, background-color 0.2s, text-decoration 0.2s, -webkit-text-decoration 0.2s;
}

#dealBar .col-md-4 {
  text-align: center;
}

.services_section {
  background-color: #fff;
  padding: 70px 30px;
}

.service-icon {
  padding: 12px !important;
  border-radius: 15px !important;
  background-color: #5c8903;
}

.service_title {
  color: #030337;
  font-weight: 600;
}

.service-item {
  background-color: beige;
}
.service-item .cta_btn {
  border: none;
  font-weight: 500;
  color: #5c8903;
  text-decoration: underline;
  background: none;
}

.appointment {
  background: #000625;
  background-size: cover;
}

.about_section {
  background-color: #fff;
  padding: 70px 30px;
}

.main_btn {
  background-color: #5c8903;
  color: #fff;
}

.call_btn {
  background-color: #5c8903;
  color: white;
  width: 60%;
  padding: 15px;
  border-radius: 5px;
}

.footer {
  color: #A7A8B4;
  background-color: #000625;
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #A7A8B4;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
  text-decoration: none;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #5c8903;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  color: var(--light);
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .btn.btn-square {
  color: #A7A8B4;
  border: 1px solid #A7A8B4;
}

.footer .btn.btn-square:hover {
  color: var(--secondary);
  border-color: var(--light);
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .copyright a {
  color: var(--secondary);
}

.footer .copyright a:hover {
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */